{% extends 'base.html.twig' %}

{% block title %}Hello TournamentController!{% endblock %}

{% block body %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

    </style>



    <h2>First Bracket Round</h2>
    <div>
        <table>
            {% for Match in firstRound %}
                <tr>
                    <td>
                        {{ Match.AwayTeam.TeamName }}
                        <br>
                        <form method = "post" action="{{ path('winner', {MatchTracker:Match.id}) }}">
                            <button name="winner" value="{{ Match.AwayTeam.TeamName }}">This team won</button>
                        </form>
                        {% if loop.index % 2 == 0 %}
                            <p>/////////////////////////////////</p>
                        {% endif %}
                    </td>
                    <td> vs <br><br>{% if loop.index % 2 == 0 %}
                            <p>/////////////////////////////////</p>
                        {% endif %}</td>
                    <td> {{ Match.HomeTeam.TeamName }}
                        <br>
                        <form method = "post" action="{{ path('winner', {MatchTracker:Match.id}) }}">
                            <button name="winner" value="{{ Match.HomeTeam.TeamName }}">This team won</button>
                        </form>
                        {% if loop.index % 2 == 0 %}
                            <p>/////////////////////////////////</p>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
    <p>-----------------------------------------</p>
    <h2>Second Bracket Round</h2>
    <div>
        <table>
            {% for Match in roundTwo %}
                <tr>
                    <td>
                        {{ Match.AwayTeam.TeamName }}
                        <br>
                        <form method = "post" action="{{ path('winner', {MatchTracker:Match.id}) }}">
                            <button name="winner" value="{{ Match.AwayTeam.TeamName }}">This team won</button>
                        </form>
                        {% if loop.index % 2 == 0 %}
                            <p>/////////////////////////////////</p>
                        {% endif %}
                    </td>
                    <td> vs <br><br>{% if loop.index % 2 == 0 %}
                        <p>/////////////////////////////////</p>
                        {% endif %}</td>
                    <td> {{ Match.HomeTeam.TeamName }}
                        <br>
                        <form method = "post" action="{{ path('winner', {MatchTracker:Match.id}) }}">
                            <button name="winner" value="{{ Match.HomeTeam.TeamName }}">This team won</button>
                        </form>
                        {% if loop.index % 2 == 0 %}
                            <p>/////////////////////////////////</p>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}
