{% extends 'base.html.twig' %}

{% block title %}Hello TournamentController!{% endblock %}

{% block body %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        <article>
            <form action={{ path('roundRobin') }}>
                <button>Round Robin</button>
            </form>
            <table>
                {% for Match in allRounds %}
                    <tr>
                        <td>
                            {{ Match.AwayTeam.TeamName }}
                            <br>
                            <form method = "post" action="{{ path('winner', {MatchTracker:Match.id}) }}">
                                <button name="winner" value="{{ Match.AwayTeam.TeamName }}">This team won</button>
                            </form>
                        </td>
                        <td> vs</td>
                        <td> {{ Match.HomeTeam.TeamName }}
                            <br>
                            <form method = "post" action="{{ path('winner', {MatchTracker:Match.id}) }}">
                                <button name="winner" value="{{ Match.HomeTeam.TeamName }}">This team won</button>
                            </form>
                        </td>
                        <td>
                            <form method = "post" action="{{ path('winner', {MatchTracker:Match.id}) }}">
                                <button name="winner" value="tie">This match was a tie</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </article>

    </div>
{% endblock %}
